body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  padding-top: 56px;

}

html {
  background-color: #ffaa71;
}

h1 {
  color: #6e6d6d;
}

.brand-main {
  background-color: #ffaa71;
  /* Main Background Color */
}

.brand {
  background-color: #ff7171;
  /* Header and Footer bar Color */
}

.card {
  background-color: #ececec;
}

.navbar .navbar-brand {
  color: #ececec;
}

.d-block {
  border-radius: 0.25rem;
}